.outerController{
    background-color: white;
    width:200px;
    height:200px;
    border-radius:50%;
    position: relative;
    border:2px solid black;
}

.innerController{
    background-color: lightgray;
    width:60px;
    height:60px;
    position: absolute;
    border-radius: 50%;
    top:35%;
    left:34%;
    /* border:2px solid black; */
    cursor: pointer;
}

.menu{
    position: absolute;
    left:38%;
    top:5%;
}

 .prev{
    position: absolute;
    left:10%;
    top:35%;
}

.forward{
    position: absolute;
    right:12%;
    top:36%;
}

.play-pause{

    position: absolute;
    left:47%;
    bottom:5%;

}