.ipod{
    margin:auto;
    width:255px;
    height: 470px;
    background-color:lightgray;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 1px gray;
    border:1px solid black;
    position: relative;
    
  }